@import "https://fonts.googleapis.com/css?family=Cormorant+Unicase";
@import "https://fonts.googleapis.com/css?family=Felipa";

body {
    margin: 0;
}

header {
    background: white;
    color: black;
    padding: 8px 0px 6px 40px;
    height: 50px;
    box-shadow: 4px 4px 12px -2px #706F6F; 
    border-bottom: 2px solid #2B2525;
}

span {
    color: gray;
}

header h1 {
    display: inline;
    font-family: 'Cormorant Unicase', serif;
    font-size: 35px;
    text-decoration: none;
}

li {
    text-decoration: none;
    padding: 20px;
    font-family: 'Felipa', serif;
}

nav ul {
    display: inline;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    color: white;
}

.title {
   font-weight: 900;
}

.menu-enter {
    max-height: 0px;
    -webkit-transition: max-height 1s ease;
    overflow: hidden;
  }
  
  .menu-enter.menu-enter-active {
    height: auto;
    max-height: 100px;
  }
  
  .menu-leave {
    max-height: 100px;
    -webkit-transition: max-height 1s ease;
  }
  
  .menu-leave.menu-leave-active {
    overflow: hidden;
    max-height: 0px;
  }
  
  ul {
    border: #ababab solid 1px;
    width: 70%;
  }

