@import "https://fonts.googleapis.com/css?family=Cormorant+Unicase";
@import "https://fonts.googleapis.com/css?family=Felipa";

body {
    margin: 0;
}

header {
    background: white;
    color: black;
    padding: 8px 0px 6px 40px;
    height: 50px;
    box-shadow: 4px 4px 12px -2px #706F6F; 
    border-bottom: 2px solid rgb(51, 50, 50);
}

span {
    color: gray;
    font-size: 28px;
}

header h1 {
    display: inline;
    font-family: 'Cormorant Unicase', serif;
    font-size: 35px;
}

li {
  
    padding: 20px;

}

nav ul {
    display: inline;
}

nav ul li {
    display: inline-block;
    color: white;
}


